<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"/>
	</head>
	<body>
		<header>Admin Dashboard</header>
		<% include admin-header %>
		
		<div class="content bg">
			<table id="dash">
				<caption>Table of Pages</caption>
				<% if(pages.length) { %>
					<tr>
						<th>Title</th>
						<th>Last Updated</th>
						<th>Options</th>
					</tr>
					<% for (var i = 0; i < pages.length; i++) {%>
						<tr>
							<td><a href="/<%= pages[i].url %>"</a>
								<%= pages[i].title %></a></td>
							<td>January 7, 2018</td>
							<td>
				
								<form method="POST" class='within'>
									<input type='submit' value='Delete' formaction='/admin/delete/<%= pages[i]._id %>' />
									<input type='submit' value='Edit' formaction='/admin/edit/<%= pages[i]._id %>' formmethod="GET" />
									<!-- Condense this eventually -->
									<% if (pages[i].visible) { %>
									<input type='submit' value='Visible' class='visible' formaction='/admin/visible/<%= pages[i]._id %>' />
									<% } else { %>
									<input type='submit' value='Visible' class='invisible' formaction='/admin/visible/<%= pages[i]._id %>'/>
									</form>
									<% } %>
								</form>	
							</td>
						</tr>
					<% } %>

				<% } else { %>
					<tr><td>No pages have been created yet!</td></tr>
				<% } %>
				
			</table>
		</div>
		<% include footer %>
	</body>
</html>
