<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body>
		<header>Admin Dashboard</header>
		<% include admin-header %>
		
		<div class="content bg">
			<table id="dash">
				<caption>Table of Pages <button class="btn-add-page">Add Page</button></caption>
				<% if(pages.length) { %>
					<tr>
						<th>Title</th>
						<th>Last Updated</th>
						<th>Options</th>
					</tr>
					<% for (var i = 0; i < pages.length; i++) {%>
						<tr>
							<td><a href="/<%= pages[i].url %>"><%= pages[i].title %></a></td>
							<td>January 7, 2018</td>
							<td>
								<button class="btn-delete" data-page-id="<%= pages[i]._id %>"></button>
								<form method="GET" class='within'>
									<input type='submit' value='' id="btn-edit" formaction='/admin/page/edit/<%= pages[i]._id %>' />
								</form>	
								<% if(pages[i].visible) { %>
								<button class="btn-visibility" data-page-id="<%= pages[i]._id %>"></button>
								<% }else { %>
								<button class="btn-visibility invisible" data-page-id="<%= pages[i]._id %>"></button>
								<% } %>
							</td>
						</tr>
					<% } %>

				<% }else { %>
					<tr><td>No pages have been created yet!</td></tr>
				<% } %>
			</table>

			<!-- Add page form -->
			<div class="modal-container">
				<div class="add-form-container">
					<h2 class="form-title">Add Page</h2>
					<button class="close-form">X</button><br>
					<form class="add-form" method="POST">	
					<!-- Title -->
						<label class="prettylabel">Title:</label> <br/>
						<input type="text" name="title" placeholder="Title of Page" required/> <br/>
					<!-- Content -->
						<label class="prettylabel">Content:</label> <br/>
						<textarea name="content" rows="10" cols="40"></textarea> <br/>
					<!-- URL -->
						<p class='add-error'>URL already exists!<br></p>
						<label class="prettylabel">URL:</label> <br/>
						<input type="text" name="URL" placeholder="URL of page"/> <br/>
					<!-- Template -->
						<label class="prettylabel">Template:</label> <br/>
						<select name="template" required>
							<option value="t1">Template 1</option>
							<option value="t2">Template 2</option>
							<option value="t3">Template 3</option>
						</select> <br/>
					<!-- Clear/Save -->
						<input type="reset" value="Clear"/>
						<input type="submit" value="Save" class="btn-add"/>
					</form>
				</div>
				<div class="modal-background"></div>
			</div>
		</div>
		<% include footer %>
	</body>

	<script>
	$(function() {
		$('#dash').on('click', '.btn-delete', function(e) {
			var button = $(this);
			var pageID = $(this).attr('data-page-id');
			$.ajax({
				method: 'DELETE',
				url: `/admin/page/${pageID}`
			})
			.done(function(response) {
				button.parent().parent().remove();
			});
			e.preventDefault();
		});
		$('#dash').on('click', '.btn-visibility', function(e) {
			var button = $(this);
			var pageID = $(this).attr('data-page-id');
			$.ajax({
				method: 'POST',
				url: `/admin/page/visibility/${pageID}`,
			})
			.done(function() {
				button.toggleClass("invisible");
			});
			e.preventDefault();
		});
		$('#dash').on('click', '.btn-add-page', function(e) {
			$('.modal-container').addClass('show');
		});
		$('.modal-container').on('click', '.modal-background', function(e) {
			$('.modal-container').removeClass('show');
			$("p.add-error").removeClass("show-error");
		});
		$(".add-form-container").on('click', '.close-form', function(e) {
			$('.modal-container').removeClass('show');
			$("p.add-error").removeClass("show-error");
		});
		$(".add-form").submit(function(e) {
			e.preventDefault();
			var formData = {
				title		: $('input[name=title]').val(),
				content		: $('textarea[name=content]').val(),
				url			: $('input[name=URL]').val(),
				template	: $('select[name=template]').val(),
			};
			$.ajax({
				method:	'POST',
				url:	'/admin/addpage/',
				data:	formData
			})
			.done(function(newPage) {
				$("#dash").append(`<tr><td><a href="/${newPage.url}">${newPage.title}</a></td>
					<td>January 7, 2018</td>
					<td>
						<button class="btn-delete" data-page-id="${newPage._id}"></button>
						<form method="GET" class='within'>
							<input type='submit' value='' id="btn-edit" formaction='/admin/page/edit/${newPage._id}' />
						</form>
						<button class="btn-visibility" data-page-id="${newPage._id}"></button>	
					</td></tr>`);
				$('.modal-container').removeClass('show');
				$("p.add-error").removeClass("show-error");
			})
			.fail(function() {
				$("p.add-error").addClass("show-error");
			});
		}); 
	});
	</script>
</html>
